<html>
    <head>

      <title> <%= title %> </title>
  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/todo.css">

    </head>
    <body>
        <div class="to-do-container">
          <h1><i class="fas fa-clipboard-list" style=" color: darkred"></i>To-Do App</h1>
            
            <form id="task-input-form" action='/create-task'  method='POST'>

                <div class="input-container task-desc-container">
                    <label for="description">DESCRIPTION</label>
                    <input id="description" name="description" type="text" placeholder="What do you want to do today?" required> 

                </div>

                <div class="input-container">

                  <div class="category">
                    <label for="cat-type">CATEGORY</label>
                    <select id="cat-type" name="category">
                      <option value="choose">Choose a category</option>
                      <option value="personal">Personal</option>
                      <option value="work">Work</option>
                      <option value="school">School</option>
                      <option value="cleaning">Cleaning</option>
                      <option value="other">Other</option>
                    </select>
                  </div>

                  <div class="due-date">
                    <label for="date">DUE DATE</label>
                    <input type="date" id="date" name="date">
                  </div>

                </div>

                <div class="btn-container">
                  <button type="submit"><i class="fas fa-plus"></i> ADD TASK </button> 
                    </form>
                    <form id="task-detail-form" action='/delete-tasks/' method="GET">
                    <div class="del-btn">
                      <a href=""><i class="far fa-trash-alt"></i> DELETE TASKS</a>
                    </div>
                </div>
                  
             <div class="task-container">
                <% let no_tasks; for(let i of todo_list) { %>
                <div class="task-items">

                    <input type="checkbox" id="<%= i._id %>">
                    <div class="task">
                    <p><%= i.description %></p>
                    <p><i class="far fa-calendar-alt"></i>
                      <% if(i.date == null) { %>
                      <%= "NO DEADLINE" %> 
                      <% } else { %>
                      <%= i.date.toString().toUpperCase().substring(0,15) %>
                      <% } %>
                    </p>
                    </div>
                    
                    <div class="task-type">
                    <%= i.category.toUpperCase() %>
                    </div>
                </div>
                <% no_tasks++; } %>
            </div>
          </form>
            
        </div>
         <script type="text/javascript" src="./js/todo.js"></script>

    </body>
</html>
